/*
GSPNS / NSmart Public Transport API (Novi Sad)

Unofficial documentation of the reverse-engineered API behind the GSPNS (JGSP \"Novi Sad\") public transport network — the same API used by the **NSmart** mobile app (`buslogic.nsmartapp`).  The API is served by **BusLogic/NSmart** (`online.nsmart.rs`) and provides:  * the static transport network (cities → stations → line pairs), * real-time vehicle positions and arrival predictions per station, * electronic ticketing / wallet / card management endpoints (login, e-wallet, top-up…).  ## Reverse engineering provenance  * Endpoint paths, class names and the shared API key were recovered from the   NSmart 4.6 Android APK (see [FmasterofU/NSmart-RE](https://github.com/FmasterofU/NSmart-RE)). * Response schemas below were verified against the live API in September 2026. * The API key (`4670f468049bbee2260`) is compiled into the public APK as   `company_api_key` and is the same for every install — treat it as public knowledge.  ## Authentication  Every request must send the header:  ``` X-Api-Authentication: 4670f468049bbee2260 ```  All endpoints in this document include that header in their `security` requirements.  ## Notes & quirks (learned the hard way)  * The giant network payload (`networkextended.php`) is **not valid JSON when served   over a slow connection** — the server truncates / corrupts the stream mid-body   (raw control characters, null-byte runs, dropped chunks). The NSmart app   apparently tolerates this; re-request until you get a parseable body. * `networkextended.php` ignores semantically different `action` values   (`get_network`, `get_trips`, `get_schedule` return the same cities payload as   `get_cities_extended`). * `announcement.php` returns `[{\"success\":false,\"code\":3}]` for an unknown   `station_uid`. * `ibfm=TM00000` means \"all lines\"; pass a line code (e.g. `7A`) to filter. * Serbian text is `UTF-8`; strings may come back with JS-style unicode escapes. 

API version: 1.1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package jgsp

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// RealtimeAPIService RealtimeAPI service
type RealtimeAPIService service

type ApiGetStationAnnouncementsRequest struct {
	ctx context.Context
	ApiService *RealtimeAPIService
	ibfm *string
	stationUid *int32
}

// Line filter. &#x60;TM00000&#x60; &#x3D; all lines; otherwise a line code such as &#x60;7A&#x60; or &#x60;8&#x60;.
func (r ApiGetStationAnnouncementsRequest) Ibfm(ibfm string) ApiGetStationAnnouncementsRequest {
	r.ibfm = &ibfm
	return r
}

// Station ID (see network endpoint for the full station list). E.g. 6532 &#x3D; \&quot;Narodnog fronta-Šekspirova\&quot;.
func (r ApiGetStationAnnouncementsRequest) StationUid(stationUid int32) ApiGetStationAnnouncementsRequest {
	r.stationUid = &stationUid
	return r
}

func (r ApiGetStationAnnouncementsRequest) Execute() ([]Announcement, *http.Response, error) {
	return r.ApiService.GetStationAnnouncementsExecute(r)
}

/*
GetStationAnnouncements Get live arrivals & vehicle positions for a station

Returns real-time departure/arrival predictions for every upcoming vehicle at the
given station. Each entry describes one approaching vehicle: seconds left until it
reaches the station, its current GPS position, how many stations away it is, the
garage (vehicle) number, and the full station sequence of its line.

Use `ibfm=TM00000` for all lines, or a specific line code (e.g. `7A`) to filter.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetStationAnnouncementsRequest
*/
func (a *RealtimeAPIService) GetStationAnnouncements(ctx context.Context) ApiGetStationAnnouncementsRequest {
	return ApiGetStationAnnouncementsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []Announcement
func (a *RealtimeAPIService) GetStationAnnouncementsExecute(r ApiGetStationAnnouncementsRequest) ([]Announcement, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []Announcement
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RealtimeAPIService.GetStationAnnouncements")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/publicapi/v1/announcement/announcement.php"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ibfm == nil {
		return localVarReturnValue, nil, reportError("ibfm is required and must be specified")
	}
	if r.stationUid == nil {
		return localVarReturnValue, nil, reportError("stationUid is required and must be specified")
	}
	if *r.stationUid < 1 {
		return localVarReturnValue, nil, reportError("stationUid must be greater than 1")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "ibfm", r.ibfm, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "station_uid", r.stationUid, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Api-Authentication"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
