/*
GSPNS / NSmart Public Transport API (Novi Sad)

Unofficial documentation of the reverse-engineered API behind the GSPNS (JGSP \"Novi Sad\") public transport network — the same API used by the **NSmart** mobile app (`buslogic.nsmartapp`).  The API is served by **BusLogic/NSmart** (`online.nsmart.rs`) and provides:  * the static transport network (cities → stations → line pairs), * real-time vehicle positions and arrival predictions per station, * electronic ticketing / wallet / card management endpoints (login, e-wallet, top-up…).  ## Reverse engineering provenance  * Endpoint paths, class names and the shared API key were recovered from the   NSmart 4.6 Android APK (see [FmasterofU/NSmart-RE](https://github.com/FmasterofU/NSmart-RE)). * Response schemas below were verified against the live API in September 2026. * The API key (`4670f468049bbee2260`) is compiled into the public APK as   `company_api_key` and is the same for every install — treat it as public knowledge.  ## Authentication  Every request must send the header:  ``` X-Api-Authentication: 4670f468049bbee2260 ```  All endpoints in this document include that header in their `security` requirements.  ## Notes & quirks (learned the hard way)  * The giant network payload (`networkextended.php`) is **not valid JSON when served   over a slow connection** — the server truncates / corrupts the stream mid-body   (raw control characters, null-byte runs, dropped chunks). The NSmart app   apparently tolerates this; re-request until you get a parseable body. * `networkextended.php` ignores semantically different `action` values   (`get_network`, `get_trips`, `get_schedule` return the same cities payload as   `get_cities_extended`). * `announcement.php` returns `[{\"success\":false,\"code\":3}]` for an unknown   `station_uid`. For a *known* station with nothing due it returns a single   placeholder entry (`{\"just_coordinates\":\"1\", ...}`) instead of an empty array. * A vehicle without a GPS fix is reported at `lat: \"0.00000000\"`, `lng: \"0.00000000\"`   (often with an empty `garageNo`) — treat `0,0` as \"position unknown\". * `networkextended.php` also answers a plain `GET` with no parameters, and the payload   holds far more than `cities`: the flat `stations` and `lines` lists are what most   clients want (see the `Network` schema and `docs/data-notes.md`). * Timetables (scheduled departures) are **not** served by this API — see   `docs/timetables.md` for the official gspns.co.rs pages that carry them. * `ibfm=TM00000` means \"all lines\"; pass a line code (e.g. `7A`) to filter. * Serbian text is `UTF-8`; strings may come back with JS-style unicode escapes. 

API version: 1.2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package jgsp

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// AccountAPIService AccountAPI service
type AccountAPIService service

type ApiAccountActionRequest struct {
	ctx context.Context
	ApiService *AccountAPIService
	action *string
	email *string
	password *string
	firstName *string
	lastName *string
}

// Account action verb.
func (r ApiAccountActionRequest) Action(action string) ApiAccountActionRequest {
	r.action = &action
	return r
}

// Used by login/register/reset flows.
func (r ApiAccountActionRequest) Email(email string) ApiAccountActionRequest {
	r.email = &email
	return r
}

func (r ApiAccountActionRequest) Password(password string) ApiAccountActionRequest {
	r.password = &password
	return r
}

func (r ApiAccountActionRequest) FirstName(firstName string) ApiAccountActionRequest {
	r.firstName = &firstName
	return r
}

func (r ApiAccountActionRequest) LastName(lastName string) ApiAccountActionRequest {
	r.lastName = &lastName
	return r
}

func (r ApiAccountActionRequest) Execute() (*AccountAction200Response, *http.Response, error) {
	return r.ApiService.AccountActionExecute(r)
}

/*
AccountAction Account actions (login, register, reset password…)

Single dispatcher endpoint for account-related actions, selected via the `action`
form parameter. Observed behaviours (September 2026):

* `action=register` → `{"success":false,"msg":"SIGNUP_FORM_NOT_CONFIGURED"}` (registration disabled for this operator)
* `action=login` and most other verbs → `[]` (empty array)
* missing `action` → plain text `POTREBAN JE PARAMETAR ACTION` ("ACTION parameter is required")

The full set of actions is not publicly documented; the NSmart APK shows
login, register, social login (Google/Facebook), reset password and email
verification flows.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAccountActionRequest
*/
func (a *AccountAPIService) AccountAction(ctx context.Context) ApiAccountActionRequest {
	return ApiAccountActionRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AccountAction200Response
func (a *AccountAPIService) AccountActionExecute(r ApiAccountActionRequest) (*AccountAction200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AccountAction200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountAPIService.AccountAction")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/publicapi/v1/rest_options/android_login.php"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.action == nil {
		return localVarReturnValue, nil, reportError("action is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/plain"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "action", r.action, "", "")
	if r.email != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "email", r.email, "", "")
	}
	if r.password != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "password", r.password, "", "")
	}
	if r.firstName != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "first_name", r.firstName, "", "")
	}
	if r.lastName != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "last_name", r.lastName, "", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Api-Authentication"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v string
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
